---
layout: default
---

<div class="home">
    <ul class="posts">
        {% for post in site.posts %}
        <li>
            <span>{{ post.date | date: site.date_format }}</span>

            {% if post.external-url %}
            <a href="{{ post.external-url | prepend: site.baseurl }}">
                {{ post.title }}
            </a>
            {% else %}
            <a href="{{ post.url | prepend: site.baseurl }}">
                {{ post.title }}
            </a>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</div>
