{% unless page.name == "about.md" %}
    <p class="footer">
        {% unless page.name == "index.html" %}
          {{ site.author }} 2015-2017
          <span class="dot-sep">&middot;</span>
        {% endunless %}

        <a href="http://github.com/matiasdahl">Github</a>
        <span class="dot-sep">&middot;</span>
        <a href="https://fi.linkedin.com/in/matiasdahl">LinkedIn</a>
        <span class="dot-sep">&middot;</span>
        <a href="http://color-practice.com">Color Practice</a>
    </p>
{% endunless %}
