@charset "utf-8";

body {
    overflow-y: scroll;
}

main {
    max-width: 48rem;
    margin: 0 auto 3rem;
    padding: 0 2rem;
}
.site-header {
    .site-title {
        float: left;
        width: 80%;
        font-weight: 300;
        > a {
            color: $text-color;
            text-decoration: none;
        }
    }
    .site-nav {
        float: right;
        width: 20%;
        font-size: 1.57em;
        > a {
            color: $text-color;
            &:hover {
                text-decoration: none;
            }
            &.active {
                padding: 4px 0;
                border-bottom: 2px solid $meta-color;
            }
            + a {
                margin-left: 1rem;
            }
        }
    }
    .site-break {
        clear: both;
    }
}
.posts {
    list-style: none;
    padding: 0;
    > li {
        line-height: 1.75;
        span {
            color: $meta-color;
            margin-right: 1.5rem;
            font-size: $small-font-size;
        }
        a {
            color: $text-color;
            text-decoration: none;
        }
    }
}
.post {
    position: relative;
    .post-header {
        line-height: 1.55;
        width: 80%;
        text-align: center;
        margin: 70px auto 15px auto;
    }
    .post-meta {
        margin: 15px 0px 30px 0px;
        text-align: center;
        color: $meta-color;
        font-size: $small-font-size;
    }
}
@media screen and (max-width: 48rem) {
    .site-header {
        .site-title,
        .site-nav {
            text-align: center;
        }
    }
}
