<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
    <title>{{ site.title }}</title>

    <!-- Begin Cookie Consent plugin by Silktide - http://silktide.com/cookieconsent -->
    <script type="text/javascript">
       window.cookieconsent_options = {"message":"This site uses cookies to track basic usage with the aim of improving the site over time.","dismiss":"Got it!","learnMore":"More info","link":null,"theme":"light-floating"};
    </script>

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.9/cookieconsent.min.js"></script>
    <!-- End Cookie Consent plugin -->

</head>
<body>
    <main>
        <header class="site-header">
            <h2 class="site-title"><a href="{{ site.baseurl }}/">{{ site.title }}</a></h2>
            <h2 class="site-nav">
                <a href="{{ site.baseurl }}/about"
                   class="{% if page.url == '/about' %}active{% endif %}">About</a>
            </h2>
            <nav class="site-break" />
        </header>
        {{ content }}

        {% include footer.html %}

    </main>

<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//explorecolor.com/piwik/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', 2]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="//explorecolor.com/piwik/piwik.php?idsite=2" style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->

</body>
</html>
